/.bundle

/.env*
!/.env*.erb

/config/master.key
/config/credentials/*.key

/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
!/tmp/pids/.keep

/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/
!/tmp/storage/.keep

/public/assets
.byebug_history

/config/database.yml

*.sqlite3
*.sqlite3-*

/node_modules

/yarn-error.log
yarn-debug.log*
.yarn-integrity

.DS_Store

/.idea
/.vscode
*.swp
*.swo
*~
.project
.classpath
.settings/
*.sublime-workspace
*.sublime-project

/coverage/

/config/secrets.yml
/config/credentials.yml.enc
.env
.env.local
.env.*.local

/.kamal/secrets
/.kamal/secrets-*
